<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'Hello!'"></p>
<p>Thank you for banking with Enviro.</p>

<p>To reset your password, click <a th:href="${link}">here</a>.</p><p>Note that this link is valid for 1 minute. After the time limit has expired, you will<br> have to resubmit the request for a password reset.</p>
</body>
</html>